
### directories
node_modules
.idea
test
coverage
.nyc_output

#### matching files
*.log
*.ts
*.json
*.sh
*.txt
*.md
*.yml

### individual files
package-lock.json
yarn.lock
.gitignore
.npmignore
.editorconfig
suman.conf.js

### negation
!*.d.ts
