
# matching files

*.log
*.ts
*.json
*.sh
*.txt
*.md

# individual files

.gitignore
.npmignore
.editorconfig
suman.conf.js

# directories

node_modules
.idea
test
coverage
.nyc_output

# inverse / negation

!*.d.ts
